.u-section-1 .u-sheet-1 {min-height: 1644px}
.u-section-1 .u-group-1 {width: 800px; min-height: 85px; background-image: none; box-shadow: 10px 2px 8px 0 rgba(128,128,128,1); animation-duration: 1000ms; margin: 30px auto 0}
.u-section-1 .u-container-layout-1 {padding: 30px 30px 12px}
.u-section-1 .u-text-1 {font-size: 2.25rem; font-weight: 700; margin: -4px auto 14px}
.u-section-1 .u-group-2 {width: 800px; min-height: 85px; background-image: none; box-shadow: 10px 2px 8px 0 rgba(128,128,128,1); animation-duration: 1000ms; margin: 30px auto 0}
.u-section-1 .u-container-layout-2 {padding: 30px 30px 12px}
.u-section-1 .u-text-2 {font-size: 2.25rem; font-weight: 700; margin: 0 299px 0 289px}
.u-section-1 .u-group-3 {width: 800px; min-height: 85px; background-image: none; box-shadow: 10px 2px 8px 0 rgba(128,128,128,1); animation-duration: 1000ms; height: auto; margin: 30px auto 0}
.u-section-1 .u-container-layout-3 {padding: 30px 30px 12px}
.u-section-1 .u-text-3 {font-size: 2.25rem; font-weight: 700; margin: 0 299px 0 289px}
.u-section-1 .u-group-4 {width: 800px; min-height: 85px; background-image: none; box-shadow: 10px 2px 8px 0 rgba(128,128,128,1); animation-duration: 1000ms; height: auto; margin: 30px auto 0}
.u-section-1 .u-container-layout-4 {padding: 30px 30px 12px}
.u-section-1 .u-text-4 {font-size: 2.25rem; font-weight: 700; margin: 0 299px 0 289px}
.u-section-1 .u-group-5 {width: 800px; min-height: 95px; background-image: none; box-shadow: 10px 2px 8px 0 rgba(128,128,128,1); animation-duration: 1000ms; height: auto; margin: 30px auto 0}
.u-section-1 .u-container-layout-5 {padding: 30px 30px 12px}
.u-section-1 .u-text-5 {font-size: 2.25rem; font-weight: 700; margin: -4px auto 14px}
.u-section-1 .u-group-6 {width: 800px; min-height: 95px; background-image: none; box-shadow: 10px 2px 8px 0 rgba(128,128,128,1); animation-duration: 1000ms; height: auto; margin: 30px auto 0}
.u-section-1 .u-container-layout-6 {padding: 30px 30px 12px}
.u-section-1 .u-text-6 {font-size: 2.25rem; font-weight: 700; margin: -4px auto 14px}
.u-section-1 .u-group-7 {width: 800px; min-height: 95px; background-image: none; box-shadow: 10px 2px 8px 0 rgba(128,128,128,1); animation-duration: 1000ms; height: auto; margin: 30px auto 0}
.u-section-1 .u-container-layout-7 {padding: 30px 30px 12px}
.u-section-1 .u-text-7 {font-size: 2.25rem; font-weight: 700; margin: -4px auto 14px}
.u-section-1 .u-group-8 {width: 800px; min-height: 95px; background-image: none; box-shadow: 10px 2px 8px 0 rgba(128,128,128,1); animation-duration: 1000ms; height: auto; margin: 30px auto 0}
.u-section-1 .u-container-layout-8 {padding: 30px 30px 12px}
.u-section-1 .u-text-8 {font-size: 2.25rem; font-weight: 700; margin: -4px auto 14px}
.u-section-1 .u-group-9 {width: 800px; min-height: 95px; background-image: none; box-shadow: 10px 2px 8px 0 rgba(128,128,128,1); animation-duration: 1000ms; height: auto; margin: 30px auto 0}
.u-section-1 .u-container-layout-9 {padding: 30px 30px 12px}
.u-section-1 .u-text-9 {font-size: 2.25rem; font-weight: 700; margin: -4px auto 14px}
.u-section-1 .u-group-10 {width: 800px; min-height: 95px; background-image: none; box-shadow: 10px 2px 8px 0 rgba(128,128,128,1); animation-duration: 1000ms; height: auto; margin: 30px auto 0}
.u-section-1 .u-container-layout-10 {padding: 30px 30px 12px}
.u-section-1 .u-text-10 {font-size: 2.25rem; font-weight: 700; margin: -4px auto 14px}
.u-section-1 .u-group-11 {width: 800px; min-height: 94px; background-image: none; box-shadow: 10px 2px 8px 0 rgba(128,128,128,1); animation-duration: 1000ms; height: auto; margin: 30px auto 0}
.u-section-1 .u-container-layout-11 {padding: 30px 30px 12px}
.u-section-1 .u-text-11 {font-size: 2.25rem; font-weight: 700; margin: -5px auto 14px}
.u-section-1 .u-group-12 {width: 800px; min-height: 95px; background-image: none; box-shadow: 10px 2px 8px 0 rgba(128,128,128,1); animation-duration: 1000ms; height: auto; margin: 30px auto 0}
.u-section-1 .u-container-layout-12 {padding: 30px 30px 12px}
.u-section-1 .u-text-12 {font-size: 2.25rem; font-weight: 700; margin: -4px auto 14px}
.u-section-1 .u-group-13 {width: 800px; min-height: 95px; background-image: none; box-shadow: 10px 2px 8px 0 rgba(128,128,128,1); animation-duration: 1000ms; height: auto; margin: 30px auto 50px}
.u-section-1 .u-container-layout-13 {padding: 30px 30px 12px}
.u-section-1 .u-text-13 {font-size: 2.25rem; font-weight: 700; margin: -4px auto 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-text-2 {width: auto; margin-right: 307px}
.u-section-1 .u-text-3 {width: auto; margin-right: 307px}
.u-section-1 .u-text-4 {width: auto; margin-right: 307px} }

@media (max-width: 991px){ .u-section-1 .u-group-1 {width: 720px}
.u-section-1 .u-group-2 {width: 720px}
.u-section-1 .u-text-2 {margin-right: 261px; margin-left: 249px}
.u-section-1 .u-group-3 {width: 720px}
.u-section-1 .u-text-3 {margin-right: 261px; margin-left: 249px}
.u-section-1 .u-group-4 {width: 720px}
.u-section-1 .u-text-4 {margin-right: 261px; margin-left: 249px}
.u-section-1 .u-group-5 {width: 720px}
.u-section-1 .u-group-6 {width: 720px}
.u-section-1 .u-group-7 {width: 720px}
.u-section-1 .u-group-8 {width: 720px}
.u-section-1 .u-group-9 {width: 720px}
.u-section-1 .u-group-10 {width: 720px}
.u-section-1 .u-group-11 {width: 720px}
.u-section-1 .u-group-12 {width: 720px}
.u-section-1 .u-group-13 {width: 720px} }

@media (max-width: 767px){ .u-section-1 .u-group-1 {width: 540px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-group-2 {width: 540px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-2 {margin-right: 195px; margin-left: 179px}
.u-section-1 .u-group-3 {width: 540px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-3 {margin-right: 195px; margin-left: 179px}
.u-section-1 .u-group-4 {width: 540px}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-4 {margin-right: 195px; margin-left: 179px}
.u-section-1 .u-group-5 {width: 540px}
.u-section-1 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-group-6 {width: 540px}
.u-section-1 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-group-7 {width: 540px}
.u-section-1 .u-container-layout-7 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-group-8 {width: 540px}
.u-section-1 .u-container-layout-8 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-group-9 {width: 540px}
.u-section-1 .u-container-layout-9 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-group-10 {width: 540px}
.u-section-1 .u-container-layout-10 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-group-11 {width: 540px}
.u-section-1 .u-container-layout-11 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-group-12 {width: 540px}
.u-section-1 .u-container-layout-12 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-group-13 {width: 540px}
.u-section-1 .u-container-layout-13 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 1644px}
.u-section-1 .u-group-1 {width: 340px}
.u-section-1 .u-group-2 {width: 340px}
.u-section-1 .u-text-2 {width: 144px; margin: -4px auto 14px}
.u-section-1 .u-group-3 {width: 340px}
.u-section-1 .u-text-3 {width: 144px; margin: -4px auto 14px}
.u-section-1 .u-group-4 {width: 340px; margin-top: -89px}
.u-section-1 .u-text-4 {width: 144px; margin: -4px auto 14px}
.u-section-1 .u-group-5 {width: 340px; margin-top: 161px}
.u-section-1 .u-group-6 {min-height: 94px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-group-7 {min-height: 94px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-group-8 {width: 340px}
.u-section-1 .u-group-9 {width: 340px; margin-top: -610px}
.u-section-1 .u-group-10 {width: 340px}
.u-section-1 .u-group-11 {width: 340px}
.u-section-1 .u-group-12 {width: 340px}
.u-section-1 .u-group-13 {width: 340px} }